<!doctype html>
<html>
  <body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"> </script>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   
    <div class="buttons">
      <form action="" method="POST">
        <label for='mail', class='mail'>mail</label>
        <input name ='mail' type="email" class="mail"></input>
        <label for='pass', class='pass'>password</label>
        <input name ='pass' type="password" class="pass"></input>
        <button type="submit" class="submit">  envoyer</button>
      </form>
    </div>



  </body>
</html>
